body {
  padding: 0px;
  margin: 0px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  box-sizing: border-box;
  padding: 24px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  border-radius: 8px;
  width: 400px;
  height: 400px;
  background: rgb(94, 94, 255);
}

.buttons-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.phone {
  width: 70px;
  height: 70px;
}

.button-start-call {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  border: none;
  cursor: pointer;
  transition: 200ms;
  padding: 8px;
  border: 1px solid #ffffff50;
  border-radius: 8px;

  &:hover {
    border: 1px solid #ffffff;
  }
}
